/* common scetion */
*{  margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
.btn-primary{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 16px 40px;
    border: 0px;
    margin: 16px 16px 0px 0px;
}
.btn-primary a{
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
 
}

/* header section start*/
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 22px 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo-section{
    display: flex;
    align-items: center;
    gap: 1.1rem;
}
.nav-logo-section > img{
    width: 5rem;
    height: 2.4rem;
}
.nav-logo-section h2{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}
.nav-logo-color{
    color: #FF42A5;
}
/* style nav right side */
.nav-manus{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.nav-manus h4 a{
    text-decoration:none ;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav-manus button{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    font-size: .9rem;
    color: #3C354F;
    font-weight: 500;
    width: 195px;
    padding: 7px 8px 11px 0px;
    
    border: 0px;
}
.nav-btn a img{
    position: relative;
    left: 9px;
    top: 2px;
    width: 20px;
}
.nav-tiktok{
    margin-left: 8px;
}
/* header section end  */

/* banner section start */
.banner-section{
    padding: 5px 150px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    background-image: url("./images/Group\ 14.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}
 /*style banner-left  */
.banner-left h2{
    color: #0B0223;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -25px;
}
.banner-left h1{
    font-size: 5.1rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.banner-left p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: 5px;
}
.banner-description img{
    width: 18px;
    padding: 1px;
    margin-bottom: -3px;
    margin-right: 6px;
}
.btn-blue{
    background: #4EC5F7;
}


/* style banner-right */
.banner-right img{
    height: 550px;
    width: 500px;
    margin-bottom: -10px;
}

/* bannner section end */

/* videos-section start*/
.videos-section{
    padding: 80px 150px; 
}
.videos-section h2{
    color: #0B0223;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.video-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 700;
}
.videos-section > p{
    color: #534C64;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.videos-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videos-card{
    width: 250px;
}
.videos-card img{
    border-radius: 16px;
    width: 250px;
    height: 300px;

}
.videos-card-description {
    color: #534C64;
    font-size: 14px;
    line-height: 20px; 
    margin-top: 10px;
    }

/* videos-section hover */
.videos-card-inner{
    width: 250px;
    height: 300px;
    position: relative;
}

.video-card-info{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0;
    width: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 50%);
    visibility: hidden;
    transition: .4s  ease-in-out all;
    opacity: 0;


}

.videos-card-inner:hover .video-card-info{
    border-radius: 16px;
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.video-card-info img{
    background-color: black;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 120px;
    margin-left: 110px;
    text-align: center;

}
.video-card-info a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 90px;
}
/* videos-section end */




/* responsive for mobile device(smallest device) */

@media screen and (max-width:576px) {
    /* Responsive header section */
    nav, .nav-manus {
        flex-direction: column;
    }
    .nav-manus, .nav-logo-section{
        margin-top: 2.2rem;
    }
    header{
        box-shadow: none;
    }

    /* Responsive banner section */
    .banner-section{
        flex-direction: column-reverse;
        background-position: bottom;
        
    } 
    .banner-right {
        margin: 20px 0px 35px 0px;
    }
    .banner-right img {
        height: 300px;
        width: 300px;
    }

    .banner-left {
        width: 320px;
        height: 250px;
        padding-left: 10px;
    }
    .banner-left h2{
        font-size: 1.5rem;
        margin-left: -125px;
    }
    .banner-left h1{
        font-size: 3rem;
    }
    .banner-left p {
        font-size: 11px;
        margin-top: 0.4rem;
        margin-bottom: 0.5rem;
    }
    .banner-description img {
        width: 15px;
        margin-bottom: -4px;
    }
    .btn-primary a {
        font-size: 0.7rem;;
    }
    .btn-primary {
        padding: 14px 30px;
        margin: 9px 9px 0px 0px;
        
    }

    /* Responsive videos-section */
    .videos-cards{
        flex-direction: column;
        gap:60px ;
    }
    .videos-card-description {
        font-size: 10px;
        line-height: 15px;
        margin-top: 5px;
    }
    .videos-section h2 {
        font-size: .6rem;
    }
    .video-title{
        font-size: .5rem;
    }
    .videos-section > p {
        font-size: 0.5rem;
        line-height: 17px;
    }





  
    


 }

 /* responsive for tablet device(medium device) */

 /* Responsive header section */
 @media screen and (min-width:576px) and (max-width:960px){

   /* Responsive header section */
        nav{
            flex-direction: column;

        } 

        .nav-manus{
            margin-top: 1.7rem;
            margin-bottom: 0.8rem;
        }
     /* Responsive banner section */
     .banner-section{
        flex-direction: column;
     }
     .banner-right {
        margin-top: 40px;
    }
    .banner-left {
        padding-top: 50px;
    }
    .banner-left h2 {
        font-size: 2.3rem;
        margin-top: 50px;
        margin-left: -61px;
    }
    .banner-left h1 {
        font-size: 3.5rem;
        margin: 20px 0px 20px 0px;
    }
    .banner-left p {
        margin-bottom: 40px;
    }

      /* Responsive videos-section */
      .videos-cards{
        display: grid;
        grid-template-columns: repeat( 2, 1fr); 
        gap: 45px;
      }
      .videos-card-description {
        font-size: 12px;
        line-height: 16px;
        margin-top: 6px;
    }
    .videos-section {
        padding: 80px 118px;
    }
    .videos-section h2{
        font-size: 1.5rem;
    }
    .video-title{
        font-size: 1.5rem;
    }


    
    

 }